#!/bin/bash -e
{{ if eq .chezmoi.os "linux" -}}
    {{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
    sudo apt-get update -y

    packages=(
        curl \
        git \
        jq \
        neovim \
    )

    {{ else }}
    
    sudo apt-get update -y

    packages=(
        curl \
        git \
        jq \
        neovim \
    )
    for package in "${packages[@]}"; do
        (sudo dpkg -l "$package" > /dev/null && echo "El paquete '$package' ya está instalado") \
            || sudo apt-get install -y "$package"
    done
    {{   end }}
{{ else if eq .chezmoi.os "darwin" -}}
xcode-select --install || echo "XCode CLI tools ya está instalado"
brew --version || (/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)")
wget --version || brew install wget
((brew info cmake | grep -i "no está instalado") && brew install cmake) || echo "cmake ya está instalado"
which jq || brew install jq
{{ end -}}
